Repository digitalservicebund/ris-norms: changes, and which lefthook commands are due for each by the changed paths.
All: lint-vscode-extension, lint-frontend, lint-system-tests

Path conditions:
  lint-vscode-extension: any of: *.{ts,js,json} and ^vscode\-extension/
  lint-frontend: any of: *.{ts,js} and ^frontend/
  lint-system-tests: any of: *.{ts,js,json} and ^system\-tests/

Remove dependency on time machine in test
  backend/src/test/java/de/bund/digitalservice/ris/norms/application/service/XmlDocumentExtractorTest.java
Due: none

Refactor to getNodeByXPath
  backend/src/main/java/de/bund/digitalservice/ris/norms/application/service/TimeMachineFunctions.java
  backend/src/main/java/de/bund/digitalservice/ris/norms/application/service/XmlFunctions.java
  backend/src/test/java/de/bund/digitalservice/ris/norms/application/service/TimeMachineFunctionsTest.java
  backend/src/test/java/de/bund/digitalservice/ris/norms/application/service/XmlFunctionsTest.java
Due: none

Add default constructor, simplify code (both: sonar)
  backend/src/main/java/de/bund/digitalservice/ris/norms/application/service/TimeMachineFunctions.java
Due: none

Change editor e2e test to type characters one by one
  frontend/e2e/amending-laws-article-editor.spec.ts
Due: lint-frontend

Test return bad request when there is no payload calling time machine
  backend/src/test/java/de/bund/digitalservice/ris/norms/adapter/input/restapi/controller/TargetLawControllerTest.java
Due: none

Return bad request when there is no payload calling time machine
  backend/src/main/java/de/bund/digitalservice/ris/norms/adapter/input/restapi/controller/TargetLawController.java
Due: none

Use correct select all key for different OSs in e2e test
  frontend/e2e/amending-laws-article-editor.spec.ts
Due: lint-frontend

Use correct select all key for non mac OS
  frontend/e2e/amending-laws-article-editor.spec.ts
Due: lint-frontend

Skip flaky e2e test for now
  frontend/e2e/amending-laws-article-editor.spec.ts
Due: lint-frontend

Use fill to input editor content in e2e test
  frontend/e2e/amending-laws-article-editor.spec.ts
Due: lint-frontend

Separate config for session redis activation
  backend/src/main/java/de/bund/digitalservice/ris/norms/config/SecurityConfig.java
  backend/src/main/java/de/bund/digitalservice/ris/norms/config/SessionConfig.java
  backend/src/main/resources/application.yaml
  backend/src/test/java/de/bund/digitalservice/ris/norms/integration/BaseIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/norms/integration/SessionIntegrationTest.java
Due: none

Return preview of target law
  backend/src/main/java/de/bund/digitalservice/ris/norms/adapter/input/restapi/controller/TargetLawController.java
  backend/src/test/java/de/bund/digitalservice/ris/norms/adapter/input/restapi/controller/TargetLawControllerTest.java
Due: none

Add integration test happy flow for time machine
  backend/src/main/java/de/bund/digitalservice/ris/norms/adapter/input/restapi/controller/TargetLawController.java
  backend/src/test/java/de/bund/digitalservice/ris/norms/adapter/input/restapi/controller/TargetLawControllerTest.java
  backend/src/test/java/de/bund/digitalservice/ris/norms/integration/adapter/input/restapi/TargetLawControllerIntegrationTest.java
Due: none

Add controller test for when Modification exception is thrown
  backend/src/test/java/de/bund/digitalservice/ris/norms/adapter/input/restapi/controller/TargetLawControllerTest.java
Due: none

Add assertion for return body in integration test
  backend/src/test/java/de/bund/digitalservice/ris/norms/integration/adapter/input/restapi/TargetLawControllerIntegrationTest.java
Due: none

Add new redis-config to be loaded from k8s
  backend/src/main/resources/bootstrap.yaml
Due: none

Update backend dependencies
  backend/gradle/libs.versions.toml
Due: none

Update README for starting up redis locally
  backend/README.md
Due: none

Add initial data as repeatable flyway migration
  backend/src/main/resources/application.yaml
  backend/src/main/resources/db/data/R__initial_data.sql
Due: none

Remove repeatable migration from integration tests
  backend/src/test/java/de/bund/digitalservice/ris/norms/integration/BaseIntegrationTest.java
Due: none

Remove C4 architecture diagrams
  doc/architecture-diagrams/c4-container.md
  doc/architecture-diagrams/c4-system-context.md
Due: none

Use Optional as return value of TimeMachineUseCase
  backend/src/main/java/de/bund/digitalservice/ris/norms/adapter/input/restapi/controller/TargetLawController.java
  backend/src/main/java/de/bund/digitalservice/ris/norms/application/port/input/TimeMachineUseCase.java
  backend/src/main/java/de/bund/digitalservice/ris/norms/application/service/TargetLawService.java
  backend/src/test/java/de/bund/digitalservice/ris/norms/adapter/input/restapi/controller/TargetLawControllerTest.java
  backend/src/test/java/de/bund/digitalservice/ris/norms/application/service/TargetLawServiceTest.java
  backend/src/test/java/de/bund/digitalservice/ris/norms/integration/adapter/input/restapi/TargetLawControllerIntegrationTest.java
Due: none

Update add-ris-report GHA location
  .github/workflows/backend-jobs.yml
Due: none

remove system-tests folder
  system-tests/.eslintrc.json
  system-tests/.gitignore
  system-tests/.prettierignore
  system-tests/README.md
  system-tests/package-lock.json
  system-tests/package.json
  system-tests/parseAllowedLicences.sh
  system-tests/playwright.config.ts
  system-tests/tests/basics.spec.ts
Due: lint-system-tests

Create e2e test for article editor preview
  frontend/e2e/amending-laws-article-editor.spec.ts
Due: lint-frontend

Implement controller for updating target laws
  backend/src/main/java/de/bund/digitalservice/ris/norms/adapter/input/restapi/controller/TargetLawController.java
  backend/src/main/java/de/bund/digitalservice/ris/norms/application/port/input/UpdateTargetLawUseCase.java
  backend/src/main/java/de/bund/digitalservice/ris/norms/application/service/TargetLawService.java
  backend/src/test/java/de/bund/digitalservice/ris/norms/adapter/input/restapi/controller/TargetLawControllerTest.java
Due: none

Update api specification
  doc/backend/norms-api-v1.yaml
Due: none

Add target law controller tests
  backend/src/test/java/de/bund/digitalservice/ris/norms/adapter/input/restapi/controller/TargetLawControllerTest.java
Due: none

Add update function to target law service
  backend/src/main/java/de/bund/digitalservice/ris/norms/adapter/output/database/service/DBService.java
  backend/src/main/java/de/bund/digitalservice/ris/norms/application/port/output/UpdateTargetLawXmlPort.java
  backend/src/main/java/de/bund/digitalservice/ris/norms/application/service/TargetLawService.java
  backend/src/test/java/de/bund/digitalservice/ris/norms/application/service/TargetLawServiceTest.java
Due: none

Add DBService for updating target laws
  backend/src/main/java/de/bund/digitalservice/ris/norms/adapter/output/database/service/DBService.java
  backend/src/test/java/de/bund/digitalservice/ris/norms/integration/adapter/output/database/DBServiceIntegrationTest.java
Due: none

Do not catch HttpMessageNotReadableException but let Spring handle it
  backend/src/main/java/de/bund/digitalservice/ris/norms/adapter/input/restapi/exceptions/InternalErrorExceptionHandler.java
  backend/src/test/java/de/bund/digitalservice/ris/norms/adapter/input/restapi/controller/TargetLawControllerTest.java
Due: none

Add integration test for updating a target law
  backend/src/test/java/de/bund/digitalservice/ris/norms/integration/adapter/input/restapi/TargetLawControllerIntegrationTest.java
Due: none

feat: add service for saving target law XMLs
  frontend/src/services/targetLawsService.spec.ts
  frontend/src/services/targetLawsService.ts
Due: lint-frontend

Add zf0 to initial test laws
  backend/src/main/resources/db/data/R__initial_data.sql
Due: none

Add targetLawZF0 to domain model diagram
  doc/backend/domain-model.md
Due: none

Add target law zf0 to database, dtos and domain
  backend/src/main/java/de/bund/digitalservice/ris/norms/adapter/output/database/dto/ArticleDto.java
  backend/src/main/java/de/bund/digitalservice/ris/norms/adapter/output/database/mapper/ArticleMapper.java
  backend/src/main/java/de/bund/digitalservice/ris/norms/domain/entity/Article.java
  backend/src/main/resources/db/migration/V0.8__add_target_law_zf0.sql
  backend/src/test/java/de/bund/digitalservice/ris/norms/adapter/output/database/mapper/AmendingLawMapperTest.java
  backend/src/test/java/de/bund/digitalservice/ris/norms/adapter/output/database/mapper/ArticleMapperTest.java
  backend/src/test/java/de/bund/digitalservice/ris/norms/integration/adapter/output/database/DBServiceIntegrationTest.java
Due: none

Add zf0 to the article response schema
  backend/src/main/java/de/bund/digitalservice/ris/norms/adapter/input/restapi/mapper/ArticleResponseMapper.java
  backend/src/main/java/de/bund/digitalservice/ris/norms/adapter/input/restapi/schema/ArticleResponseSchema.java
  backend/src/test/java/de/bund/digitalservice/ris/norms/adapter/input/restapi/controller/AmendingLawControllerTest.java
  backend/src/test/java/de/bund/digitalservice/ris/norms/adapter/input/restapi/mapper/ArticleResponseMapperTest.java
Due: none

Insert zf0 of Vereinsgesetz to script
  backend/src/main/resources/db/data/R__initial_data.sql
Due: none

feat: fetch ZF0 in the frontend
  frontend/e2e/amending-laws-affected-document-editor.spec.ts
  frontend/e2e/testData/testData.ts
  frontend/src/composables/useAffectedDocuments.ts
  frontend/src/store/articlesStore.spec.ts
  frontend/src/types/article.ts
Due: lint-frontend

Use zf0 for metadata editing and fix tests
  frontend/e2e/amending-laws-affected-document-editor.spec.ts
  frontend/e2e/navigate-to-affected-documents-and-test-content.spec.ts
  frontend/e2e/testData/testData.ts
  frontend/src/components/affectedDocuments/RisAffectedDocumentPanel.spec.ts
  frontend/src/components/affectedDocuments/RisAffectedDocumentPanel.story.vue
  frontend/src/components/affectedDocuments/RisAffectedDocumentPanel.vue
  frontend/src/composables/useAffectedDocuments.ts
  frontend/src/views/AffectedDocuments.vue
Due: lint-frontend
